h1{
    color :#FE6767;
    text-align: left;
}
p{
    color:#340de6;
    text-align:left;
}
.header{
    
    display:flex;
    justify-content: space-between;
    background:#B2F5CB ;

}
.gride{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background:lightsalmon ;
}