h1{
    color :#FE6767;
    text-align: left;
}
p{
    color:#340de6;
    text-align:left;
}
.header{
    
    display:flex;
    justify-content: space-between;
    background:#B2F5CB ;
    padding: 30px;

}
.gride{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background:lightsalmon ;
}
.item{
    border-radius: 20px;
    background: wheat;
    padding: 30px;
    margin: 25px;
    width: 500px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.item:hover img{
    transform: scale(1.2);
}
a:link{
    color: teal;
}
a:visited{
    color: rgb(235, 64, 101);
}
