h1{
    color :rgb(223, 60, 128);
    text-align: left;
}
p{
    color: rgb(110, 228, 120);
    text-align:left;
}
.header{
    
    display:flex;
    justify-content: space-between;
    background: lightpink;

}
.gride{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background: rgb(223, 165, 142);
}